<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Wise</title>
</head>
<body>
    <form action="sub_wise" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Upload the excel sheet containing marks of each subject in a sheet: <input type="file" name="excel_file" id="excel_file"><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>