<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGPA</title>
</head>
<body>
    <form action="sgpa_calc" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Upload the excel sheet with grades alloted to each student in each subject: <input type="file" name="subGrade" id="subGrade"><br>
        Upload the blank sheet with headers of each subject: <input type="file" name="blankSgpaFile" id="blankSgpaFile"><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>